.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #201E1F;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50);
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.background-dark {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.link-style{
    color:#485461;
}
.link-style:hover{
    color:#0f0f0f;
    text-decoration: none;
}

.page-enter{
    opacity: 0;
}
.page-enter-active{
    opacity: 1;
    transition: opacity 300ms;
}

.page-exit{
    opacity: 1;
}
.page-exit-active{
    opacity: 0;
    transition: opacity 300ms;
}